<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>RegistrationServlets</display-name>
    <servlet-name>RegistrationServlets</servlet-name>
    <servlet-class>com.servlets.RegistrationServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlets</servlet-name>
    <url-pattern>/RegistrationServlets</url-pattern>
  </servlet-mapping>
  <display-name>Travel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlets</display-name>
    <servlet-name>LoginServlets</servlet-name>
    <servlet-class>com.servlets.LoginServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlets</servlet-name>
    <url-pattern>/LoginServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlets</display-name>
    <servlet-name>EditServlets</servlet-name>
    <servlet-class>com.servlets.EditServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlets</servlet-name>
    <url-pattern>/EditServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.servlets.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlet</display-name>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>com.servlets.PostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlet</servlet-name>
    <url-pattern>/PostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostServlets</display-name>
    <servlet-name>PostServlets</servlet-name>
    <servlet-class>com.servlets.PostServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostServlets</servlet-name>
    <url-pattern>/PostServlets</url-pattern>
  </servlet-mapping>
</web-app>