@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
body{
    background-color:#b0e6dd;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-box{

    width: 300px;
    height: 420px;
    padding: 5px 20px;
    position: absolute;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 15px 15px 30px 5px rgba(0, 0,0,0.5);
    border:solid 1px black ;
}

.logo{
    text-align: center;
    margin-top: 50px;
}
.logo span{
    color: green;
}
label{
    color: white;
    font-weight: 600;
    display: none;
}
form{
	margin-top: 60px;
}
input{
    border-radius: 10px;
    width: 260px;
    height: 30px;
    margin: 10px 0px;
    border: none;
    background: transparent;
    transition: 1s;
    box-shadow: 5px 5px 25px -10px rgba(0, 0,0,0.5);
    border:solid 1px black ;
}
input:hover{
    box-shadow: 0 5px 10px rgba(0, 0,0,0.5);
    transform: scale(1.05);
    border:solid 1px rgb(135, 134, 134) ;
}
.info{
    padding-left: 10px;
}
#reset{
    width: 80px;
    font-size: 15px;
    color: red;
    margin-left: 30px;
    border:solid 1px black ;


}
#submit{
    width: 80px;
    color: blue;
    font-size: 15px;
    margin-left: 30px;
    border:solid 1px black ;
}
.login-page{
    text-align: center;
    margin-top: 10px;
}
.login-page a{
    text-align: center;
    text-decoration: none;
    color: black;
    transition: 1.5s;
}
.login-page a:hover{
    color: white;
    font-size: 18px;
    font-weight: 800;
    transform: scale(1.2);
}
::placeholder{
    color: black;
    opacity: 1;
}
.logo .orange{
    border-top: 2px solid orangered;
    color: black;
}
.logo .green{
    border-bottom: 2px solid green;
}
@media(max-width:800px){
    .main-box{
        width: 350px;
        height: 520px;
    }
    .logo{
        font-size: 20px;
    }
    input{
        width: 310px;
        height: 40px;
        margin-top: 13px;
    }
    #reset{
        width: 100px;
        font-size: 16px;
        margin-left: 35px;
    
    }
    #submit{
        width: 100px;
        color: blue;
        font-size: 16px;
        border: none;
        margin-left: 40px;
    }
    a{
        font-size: 20px;
    }}
