@charset "UTF-8";
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}
body{
    background-color:#b0e6dd;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-box{

    width: 600px;
    height: 420px;
    padding: 5px 20px;
    position: absolute;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 15px 15px 30px 5px rgba(0, 0,0,0.5);
    border:solid 1px black ;
}

.logo{
    text-align: center;
    margin-top: 50px;
}
.logo span{
    color: green;
}
.propic{
    display: flex;
    
  
    margin-top: 50px;
    
    
}
.img{
    padding: 10px 50px 0px 5px;
}
 img{
    
   border-radius: 50px;
}
.info{
   margin-left: 2px;
   
}
.info h3{
    border-width:px;
    padding: 7px;
    border-style: dashed;
    border-radius: 20px;
    width: 330px;
    margin-top: 5px;
    
}
.edit{
    display: flex;
    justify-content: space-around;
  
}

.edit a{
    background-color: black;
    text-decoration: none;
    color: white;
    width: 70px;
    text-align: center;
    margin-top: 15px;
    border-radius: 15px;
}
.edit a:hover{
    color: red;
}
label{
    color: white;
    font-weight: 600;
    display: none;
}


.info{
    padding-left: px;
}


.logo .orange{
    border-top: 2px solid orangered;
    color: black;
}
.logo .green{
    border-bottom: 2px solid green;
}
@media(max-width:800px){
    .main-box{
        width: 350px;
        height: 520px;
    }
    .logo{
        font-size: 20px;
    }
    input{
        width: 310px;
        height: 40px;
        margin-top: 13px;
    }
   
    a{
        font-size: 20px;
    }}